<div class="mat-app-background basic-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>
    </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>
<form (ngSubmit)="onSubmit()" [formGroup]="updatePassForm">
  <h3>Update password</h3>
  <div class="form-group">
    <input type="password" name="currentPasswod" formControlName="currentPassword"
           class="form-control" placeholder="Current password...">
    <div class="alert alert-danger" role="alert"
         *ngIf="updatePassForm.get('currentPassword').invalid&& updatePassForm.get('currentPassword').touched">
      Current Passwod is required
    </div>
  </div>
  <div formGroupName="password">
    <div class="form-group">
      <input type="password" class="form-control" formControlName="newPassword"
             placeholder="New password..." ng-pattern="[a-z]{1,15}"
             title="Username should only contain lowercase letters. e.g. john">
      <div role="alert"
           *ngIf="updatePassForm.get('password').get('newPassword').invalid && updatePassForm.get('password').get('newPassword').touched">
        <div class="alert alert-danger"
             *ngIf="updatePassForm.get('password').get('newPassword').hasError('required')">New
          Passwod is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="confirmPassword"
             placeholder="Confirm password...">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="updatePassForm.hasError('passwordnotmatch', ['password']) &&
                                updatePassForm.get('password').touched">
      Password does not match!
      <br>
    </div>
  </div>
  <div>
    <button class="btn btn-primary btn-block" >
      Update
    </button>
    <button class="btn btn-danger btn-block" type="reset">
      Cancel
    </button>
  </div>
</form>
