.error-message {
  color: red;
  margin-bottom: 10px;
}
.btn-upload {
  float: right;
  border: none;
  background-color: white;
  color: blue;
}
.btn-block {
  display: inline-block;
  margin-left: 5%;
  width: 30%
}
.btn-block-edit {
  display: inline-block;
  width: 40%
}
label {
  font-weight: bold;
}
