<div class="mat-app-background basic-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>
    </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
               [template]="customLoadingTemplate"></ngx-loading>

</div>
<div id="profile" class="container" style="margin-top: 7%">
  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #007bff" (click)="viewInformation()">Information</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-8">
      <div *ngIf="listPost.length==0">
        <h5>Hiện tại tài khoản chưa có bài viết nào.</h5>
      </div>
      <div class="row" *ngFor="let post of listPost">
        <div class="card col-12" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              submitted {{post.prettyTime}}
            </h6>
            <p class="card-text">
              {{post.content}}
            </p>
            <a style="color: #007bff" (click)="viewPost(post.id)" class="card-link">{{post.comments.length}} comment</a>
            <a href="#" class="card-link">Share</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Side -->
    <div class="col-3 offset-1">
      <div class="row">
        <div class="card col-12">
          <img id="img" class="card-img-top" src="{{user.urlImg}}"
          />
          <div class="card-body">
           {{user.username}}
            <button *ngIf="username ==user.username" class="btn-upload" (click)="changeAvatar()"><i class="fa fa-upload">Change avatar</i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col-12">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Your Information</h5>
            <p class="card-text">
              Posts: {{listPost.length}}<br />
              Comments: {{amountComment}}<br />
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col-12">
          <h5 class="card-title recentLinks">Recent Links Clicked</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">What's new in Spring Boot 2</a>
            </li>
            <li class="list-group-item">
              <a href="#">10 Features in Java 10</a>
            </li>
            <li class="list-group-item">
              <a href="#">9 Features in Java 9</a>
            </li>
            <li class="list-group-item">
              <a href="#">8 Features in Java 8</a>
            </li>
            <li class="list-group-item">
              <a href="#">7 Reasons not to use Java 7</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- // row -->
</div>
