<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="title">Title</label>
      <p id="title" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.title}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="content">Content</label>
      <p id="content" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.content}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="createdBy">Created By</label>
      <p id="createdBy" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.createdBy}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="creationDate">Creation Date</label>
      <p id="creationDate" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.creationDate}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="lastModifiedDate">Last Modified Date</label>
      <p id="lastModifiedDate" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.lastModifiedDate}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="username">Username</label>
      <p id="username" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.user.username}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="email">Email</label>
      <p id="email" style="font-size: 1rem;font-weight: 400;line-height: 1.5;">{{post.user.email}}</p>
    </div>
  </div>
</div>
